<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="blog-overlay">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
    <div class="create-blog container mt-5">
      <h2 class="page-title">Create Blog Page</h2>
      <form action="/blogs" method="POST" id="createBlogForm" class="d-flex flex-column justify-content-center">
        <div class="form-floating mb-3 mt-5">
          <input type="text" name="title" class="form-control" placeholder="Title" id="blogTitle" required>
          <label for="title">Blog Title</label>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Add blog cover image here:</label>
          <input class="form-control" type="file" id="blogCoverImage" name="blogCoverImage" accept="image/*">
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="blogCategory" name="category" required>
            <option value="" disabled selected>Select Category</option>
            <option value="Technology">Technology</option>
            <option value="Travel">Travel</option>
            <option value="Food & Drink">Food & Drink</option>
            <option value="Health & Wellness">Health & Wellness</option>
            <option value="Lifestyle">Lifestyle</option>
            <option value="Business & Finance">Business & Finance</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Education">Education</option>
          </select>
          <label for="category">Category</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="blogSnippet" name="snippet" placeholder="Snippet" required>
          <label for="snippet">Blog Snippet</label>
        </div>
        <div class="form-floating mb-3">
          <label for="body">Blog Body</label>
          <textarea class="form-control" placeholder="Add blog description here" id="blogBody" name="body" style="height: 100px" required></textarea>
        </div>
        <div class="w-100 d-flex justify-content-center">
          <button type="submit" class="btn btn-danger w-25 fw-bold mb-3">Submit</button>
        </div>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.tiny.cloud/1/l87xnfkh9ntyljhxspreseicxbcb29mcr4x0uls297m7tk34/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#blogBody',
        menubar: false,
        toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link emoticons',
        height: 300,
      });

      let userId  = '<%= user.id %>';
      let username = '<%= user.username %>';
      let userRank = '<%= user.rank %>';
      let userAvatar = '<%= user.avatar %>';
      
      document.querySelector(".create-blog button[type='submit']").addEventListener("click", async (e) => {
        e.preventDefault();
        document.querySelector(".blog-overlay").style.display = "block";
        let title = document.getElementById('blogTitle').value;
        let category = document.getElementById('blogCategory').value;
        let snippet = document.getElementById('blogSnippet').value;
        let body = tinyMCE.get('blogBody').getContent();
        let blogCoverImage = document.querySelector("#blogCoverImage").files[0];
        
        // Use FormData to send the file along with other data
        const formData = new FormData();
        formData.append('title', title);
        formData.append('category', category);
        formData.append('snippet', snippet);
        formData.append('body', body);
        formData.append('author[_id]', userId);
        formData.append('author[username]', username);
        formData.append('author[rank]', userRank);
        formData.append('author[avatar]', userAvatar);
        formData.append('blogCoverImage', blogCoverImage);
        
        try {
          const response = await fetch(`/blogs/createpost`, {
            method: 'POST',
            body: formData, // No need to set headers for FormData
          });

          if (response.ok) {
            const result = await response.json();
            alert(result.message);
            document.querySelector(".blog-overlay").style.display = "none";
            window.location.pathname = "/blogs";
          } else {
            const error = await response.json();
            alert(error.message);
          }
        } catch (error) {
          console.error('Error creating blog:', error);
          alert('An error occurred while creating the blog.');
        }
      });
    </script>
  </body>
</html>
