<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details my-5 container">
    <h2 class="mb-3 pb-3 border-bottom blog-title"><%= blog.title %></h2>
    <div class="d-flex gap-3 flex-lg-row flex-column">
      <picture class="d-block mb-3 text-center">
        <img src="<%= blog.blogCoverImage %>" alt="blog cover image" class="img-fluid">
      </picture>
      <div class="content">
        <p class="fs-5"><%= blog.snippet %></p>
        <%- blog.body -%>
      </div>
    </div>
    <% if ((typeof user !== 'undefined' && user && blog.author._id == user.id) || user && user.rank == "Admin") { %>
      <button class="delete border-0 bg-danger text-decoration-none text-white px-3 py-1 rounded fw-bolder" data-doc="<%= blog._id %>">Delete</button>
    <% } %>
  </div>

  <%- include("../partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('button.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then((response) => response.json())
      .then((data) => window.location.href = data.redirect)
      .catch((err) => console.log(err));
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>