<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="blogs container">
      <%- include('../partials/banner.ejs', { description: 'Discover insights, tips, and stories across Technology, Travel, Food & Drink, Health & Wellness, Lifestyle, Business & Finance, Entertainment, and Education. Join us on a journey to explore the world of knowledge, inspiration, and innovation.' }) %>
      <%- include('../partials/blogListing.ejs',  { heading: 'All Blogs', blogs: blogs }) %>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>