<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
      <%- include('../partials/nav.ejs') %>
      <div class="blogs m-5">
          <h2 class="text-center mb-5">All Blogs</h2>
          <% if(blogs.length > 0 ){ %>
            <%  blogs.forEach(blog => { %>
              <div class="border-start border-5 border-danger mb-5 text-left mx-5 ps-4">
                <a class="text-dark text-decoration-none" href="/blogs/<%= blog._id %>">
                  <h3><%= blog.title %></h3>
                  <p><%= blog.snippet %></p>
                </a>
              </div>
            <% }) %>
          <% } else { %>
            <p class="text-danger">OOP's, There are no blogs to display</p>
            <% } %>
      </div>
      <%- include('../partials/footer.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>