<h2 class="text-center my-4 page-title"><%= heading %></h2>
<% 
  function formatDate(date) {
    const d = new Date(date);
    const day = d.getDate().toString().padStart(2, '0');
    const month = (d.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
    const year = d.getFullYear();
    return `${day}/${month}/${year}`;
  }
%>
<% if(blogs.length > 0) { %>
  <div class="blog-listing-wrapper">
    <% blogs.forEach(blog => { %>
      <a class="text-dark text-decoration-none" href="/blogs/<%= blog._id %>">
        <div class="card blog-listing-item shadow-sm">
          <img src="<%= blog.blogCoverImage %>" class="card-img-top" alt="blog cover image">
          <div class="card-body">
            <h5 class="card-title">
              <%= blog.title %>
            </h5>
            <p class="card-text border-bottom mb-0 pb-4 position-relative" title="<%= blog.snippet %>">
              <%= blog.snippet %>
              <a href="/user/profile/<%= blog.author._id %>">
                <img src="<%= blog.author.avatar %>" alt="user avatar" width="50" height="50"
                  class="position-absolute rounded-circle avatar-img">
              </a>
            </p>
            <a href="/user/profile/<%= blog.author._id %>">
              <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer d-inline-block fs-6 pt-4 mb-0">
                  <cite title="<%= blog.author.username %>" class="username">@<%= blog.author.username %> - </cite><cite><%= formatDate(blog.createdAt) %></cite>
                </footer>
              </blockquote>
            </a>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
<% } else { %>
  <div class="alert alert-success text-center" role="alert">
    <p class="mb-0 fs-5">It seems you haven't created any blogs yet. Why not start one now? Share your thoughts and ideas with the world! <a href="/blogs/create" class="ms-2 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" role="button">Start blogging now!</a></p>
  </div>
<% } %>
<% if (totalPages > 1) { %>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-5">
      <!-- Previous Button -->
      <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
        <a class="page-link" href="<%= currentPage > 1 ? '?page=' + (currentPage - 1) + '&limit=' + limit : '#' %>">Previous</a>
      </li>

      <% 
        // Calculate the range of page numbers to show
        let startPage = Math.max(1, currentPage - 1);
        let endPage = Math.min(totalPages, currentPage + 1);
        
        // Adjust startPage if we don't have enough pages before the current page
        if (endPage - startPage + 1 < 2) {
          startPage = Math.max(1, endPage - 1);
        }

        // Adjust endPage if we don't have enough pages after the current page
        if (endPage - startPage + 1 < 2) {
          endPage = Math.min(totalPages, startPage + 1);
        }
        
        // Display "..." if there are pages before the startPage
        if (startPage > 1) { 
      %>
        <li class="page-item">
          <a class="page-link" href="?page=1&limit=<%= limit %>">1</a>
        </li>
        <% if (startPage > 1) { %>
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
        <% } %>
      <% } %>

      <% 
        // Loop through the pages within the calculated range
        for (let i = startPage; i <= endPage; i++) { 
      %>
        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
        </li>
      <% } %>

      <!-- Display "..." if there are pages after the endPage -->
      <% if (endPage < totalPages) { %>
        <% if (endPage < totalPages - 1) { %>
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
        <% } %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= totalPages %>&limit=<%= limit %>"><%= totalPages %></a>
        </li>
      <% } %>

      <!-- Next Button -->
      <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
        <a class="page-link" href="<%= currentPage < totalPages ? '?page=' + (currentPage + 1) + '&limit=' + limit : '#' %>">Next</a>
      </li>
    </ul>
  </nav>
<% } %>
