<h2 class="text-center mb-4 mt-3"><%= heading %></h2>
<% if(blogs.length > 0) { %>
  <div class="blog-listing-wrapper">
    <% blogs.forEach(blog => { %>
      <a class="text-dark text-decoration-none" href="/blogs/<%= blog._id %>">
        <div class="card blog-listing-item">
          <img src="<%= blog.blogCoverImage %>" class="card-img-top" alt="blog cover image">
          <div class="card-body">
            <h5 class="card-title">
              <%= blog.title %>
            </h5>
            <p class="card-text border-bottom mb-0 pb-4 position-relative" title="<%= blog.snippet %>">
              <%= blog.snippet %>
              <a href="/user/profile/<%= blog.author._id %>">
                <img src="<%= blog.author.avatar %>" alt="user avatar" width="50" height="50"
                  class="position-absolute rounded-circle avatar-img">
              </a>
            </p>
            <a href="/user/profile/<%= blog.author._id %>">
              <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer d-inline-block fs-6 pe-5">
                  <%= blog.author.rank %> <cite title="Source Title">@<%= blog.author.username %></cite>
                </footer>
              </blockquote>
            </a>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
<% } else { %>
  <div class="alert alert-success text-center" role="alert">
    <p class="mb-0 fs-5">It seems you haven't created any blogs yet. Why not start one now? Share your thoughts and ideas with the world! <a href="/blogs/create" class="ms-2 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" role="button">Start blogging now!</a></p>
  </div>
<% } %>
