<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs', { user: user }) %>
    <div class="profile-container container">
      <div class="user-conver-photo-wrapper position-relative d-flex justify-content-center align-items-center">
        <% if (currentUser.coverPhoto !== '/assets/default-cover.png') { %>
          <img src="<%= currentUser.coverPhoto %>" alt="user cover image"/>
        <% } else { %>
          <img srcset="/assets/DisplayOnrender-mobile.webp 768w, /assets/DisplayOnrender-desktop.webp" sizes="(max-width: 768px) 768px" src="/assets/DisplayOnrender-desktop.webp" alt="default cover image"/>
        <% } %>
        <% if ((typeof currentUser !== 'undefined' && currentUser && currentPath && user && currentPath.includes(user.id)) || (user && user.rank == "Admin")) { %>
          <svg width="40" class="position-absolute upload-overlay-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128l-368 0zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39L296 392c0 13.3 10.7 24 24 24s24-10.7 24-24l0-134.1 39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"/></svg>
          <span id="avatarInputOverlay" class="position-absolute top-0 bottom-0 start-0 end-0"></span>
          <input type="file" id="coverImageInput" name="coverPhoto" accept="image/*">
          <div class="spinner-border text-light position-absolute" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        <% } %>
      </div>
      <div class="px-lg-5 d-flex gap-lg-5 gap-3 flex-column flex flex-lg-row">
        <div class="text-center avatar-wrapper position-relative">
          <picture class="d-inline-flex align-items-center justify-content-center position-relative">
            <img src="<%= currentUser.avatar %>" alt="Profile Picture" class="img-thumbnail border rounded-circle" width="150" height="150">
            <% if ((typeof currentUser !== 'undefined' && currentUser && currentPath && user && currentPath.includes(user.id)) || (user && user.rank == "Admin")) { %>
              <svg width="40" class="position-absolute upload-overlay-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128l-368 0zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39L296 392c0 13.3 10.7 24 24 24s24-10.7 24-24l0-134.1 39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"/></svg>
              <span id="avatarInputOverlay" class="position-absolute top-0 bottom-0 start-0 end-0 rounded-circle" width="150" height="150"></span>
              <div class="spinner-border text-light position-absolute" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <input type="file" id="avatarInput" name="avatar" accept="image/*">
            <% } %>
          </picture>
        </div>
        <div class="user-info-wrapper">
          <p class="mb-2"><strong>Username:</strong> <%= currentUser.username %></p>
          <p class="mb-2"><strong>Rank:</strong> <%= currentUser.rank %></p>
          <p class="mb-2"><strong>Email:</strong> <%= currentUser.email %></p>
          <p class="mb-0">
            <strong>Bio:</strong>
            <span>
              <% if (currentUser.bio) { %>
                <%= currentUser.bio %>
              <% } else { %>
                No bio yet!
              <% } %>
            </span>
            <% if ((typeof currentUser !== 'undefined' && currentUser && currentPath && user && currentPath.includes(user.id)) || (user && user.rank == "Admin")) { %>
              <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreenLg">
                <% if (currentUser.bio) { %>
                  Update bio
                <% } else { %>
                  Add bio
                <% } %>
              </a>     
            <% } %>
          </p>
          <div class="modal fade" id="exampleModalFullscreenLg" tabindex="-1" aria-labelledby="exampleModalFullscreenLgLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-lg-down">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalFullscreenLgLabel">Add Your Bio</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="bioForm">
                    <textarea id="bioEditor" name="bio"></textarea>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" id="submitBio" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% const heading = currentUser.username + ' Blogs'; %>
      <%- include('../partials/blogListing.ejs', { heading: heading, blogs: blogs }) %>       
    </div>
    <%- include('../partials/footer.ejs') %>
    <!-- Include TinyMCE script -->
    <script src="https://cdn.tiny.cloud/1/l87xnfkh9ntyljhxspreseicxbcb29mcr4x0uls297m7tk34/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- <script src="/js/profile.js"></script> -->
    <% if ((typeof currentUser !== 'undefined' && currentUser && currentPath && user && currentPath.includes(user.id)) || (user && user.rank == "Admin")) { %>
      <script>
        tinymce.init({
          selector: '#bioEditor',
          menubar: false,
          plugins: 'advlist autolink lists link charmap preview',
          toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright | bullist numlist | preview'
        });
      </script>
    <% } %>
  </body>
</html>
